* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 9% 4% 82% 4%;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  grid-area: 1 / 1 / 2 / -1 ;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header .logo {
  place-self: center;
}

.header > .menu {
  padding-right: 5%;
  justify-self: end;
  align-self: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu > ul  {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.sidebar {
  background-color: #FF7755;
  grid-area: 2 / 1 / 4 / 2 ;

  display: grid;
  gap: 5%;
}

.sidebar > div {
  display: grid;
  place-content: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
  grid-area: 2 / 2 / 3 / -1 ;

  display: grid;
  align-items: center;
}

.nav > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: 3 / 2 / 4 / -1 ;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: -2 / 1 / -1 / -1 ;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
