body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  font-size: 8px; 
  padding: 0.01px;
}

.title {
  background: #e3f4ff;
  margin: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 16px;
  margin: 16px;
  padding: 10px;
  font-size: 10px; 
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 16px;
  margin-bottom: 16px;
  padding: 10px;
  font-size: 10px; 
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  padding: 10px 17px;
  margin: auto;
}